.message{
max-width:60%;
padding:12px;
margin:8px;
border-radius:12px;
font-size:14px;
}

.user{
background:#3a3f4b;
color:white;
margin-left:auto;
}

.bot{
background:#1c222b;
color:white;
margin-right:auto;
}